<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    OKE CUK
    <!-- <p>
        {% for item in data %}
            <h3> {{ item.title }} </h3>
            <p>
                {{ item.post}}
            </p>
            <h6>By {{item.author}} on {{item.date}} </h6>
        {% endfor %}
    </p> -->
</body>
</html>